img{
    max-width: 47%;
    height: auto;
    width: auto\3;
    border-radius: 6px;
}

#image{
    z-index: 100;
    position: relative;
}

#image2{
    position: absolute;
    right: 26.5%;
    filter: blur(100px) saturate(250%) contrast(110%);
    transition: all 0.2s ease-in-out;
    animation: Pulse 5.5s linear infinite;
}

@keyframes Pulse {
    0% {
      filter: blur(100px) saturate(150%) contrast(110%);
      -webkit-filter: blur(100px) saturate(150%) contrast(110%);
    }
    50% {
      filter: blur(110px) saturate(270%) contrast(140%);
      -webkit-filter: blur(110px) saturate(270%) contrast(140%);
    }
    100%{
        filter: blur(100px) saturate(180%) contrast(110%);
        -webkit-filter: blur(100px) saturate(150%) contrast(110%);
    }
}

body{
    background: #161616;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

a{
    cursor: pointer;
}

#src{
    margin-top: 1px;
    font-size: 10px;
    z-index: 100;
}

#close{
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}

a#close:hover{
    font-size: 25px;
    color: #f7d3ce;
}